.centered {
    height: 100vh;
    /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiAvatar-root {
    height: 200px;
    width: 200px;
}

.profileHeader {
    align-items: center;
}

.graph {
    align-items: center;
    height: 600px;
    width: 600px;
}

.profilebody {
    display: flex;
}