.centered {
    height: 100vh;
    /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 200px;
    width: 200px;
}

.profileHeader {
    display: flex;
    flex-direction: column;
    flex: 0.35;
}

.graph {
    flex: 0.65;
    display: flex;
    flex-direction: column;
}

.profilebody {
    display: flex;
}